<main class="auction">
  <div class="overlay"></div>
  <div class="container">
  <h1><a class="bidnow" href="/">BidNow</a></h1>
  <h2>Sign up</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input type="text" formControlName="name" placeholder="Name" />
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
      <small *ngIf="registerForm.get('name')?.errors?.['required']">*Name is required</small>
      <small *ngIf="registerForm.get('name')?.errors?.['minlength']">*Name must be at least 3 characters</small>
    </div>

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Email" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
      <small *ngIf="registerForm.get('email')?.errors?.['required']">*Email is required</small>
      <small *ngIf="registerForm.get('email')?.errors?.['email']">*Invalid email format</small>
    </div>

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Password" />
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
      <small *ngIf="registerForm.get('password')?.errors?.['required']">*Password is required</small>
      <small *ngIf="registerForm.get('password')?.errors?.['minlength']">*Password must be at least 6 characters</small>
    </div>

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
    <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="error">
      <small>Passwords do not match</small>
    </div>

    <div class="options">
      <p>I am: &nbsp;&nbsp;
        <input type="radio" id="Auctioneer" formControlName="role" value="Auctioneer" />
        <label for="Auctioneer">&nbsp;Auctioneer</label>&nbsp;&nbsp;
        <input type="radio" id="Bidder" formControlName="role" value="Bidder" />
        <label for="Bidder">&nbsp;Bidder</label>
      </p>
      <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error">
        <small>*Please select a role</small>
      </div>
    </div>

    <button [disabled]="registerForm.invalid" type="submit">Sign up</button>
  </form>
  <p>Already have an account? <a href="/login">Login instead</a></p>
</div>
</main>
