<main class="auction">
  <div class="overlay"></div>
  <div class="container">
  <h1><a class="bidnow" href="/">BidNow</a></h1>
  <h2>Password Recovery</h2>
  <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Email" />
    <div *ngIf="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched" class="error">
      <small *ngIf="recoveryForm.get('email')?.errors?.['required']">*Email is required</small>
      <small *ngIf="recoveryForm.get('email')?.errors?.['email']">*Invalid email format</small>
    </div>
    
    <button [disabled]="recoveryForm.invalid">Send Reset Link</button>
  </form>
  <div *ngIf="feedbackMessage" class="feedback">{{ feedbackMessage }}</div>
</div>
</main>
