<header>
  <div class="overlay"></div>
  <div class="header-text">
    <div class="menu">
      <div class="brand">
        <h1><a class="bidnow white-text" href="/">BidNow</a></h1>
        <p>Real-Time Auction Experience</p>
      </div>
      <div class="navigation">
        <button
          [class.active]="activeCategory === 'all'"
          (click)="filterProducts('all')"
        >
          Home
        </button>
        <button
          [class.active]="activeCategory === 'electronics'"
          (click)="filterProducts('electronics')"
        >
          Electronics
        </button>
        <button
          [class.active]="activeCategory === 'fashion'"
          (click)="filterProducts('fashion')"
        >
          Fashion
        </button>
        <button
          [class.active]="activeCategory === 'books'"
          (click)="filterProducts('books')"
        >
          Books
        </button>
        <button
          [class.active]="activeCategory === 'art & handirafts'"
          (click)="filterProducts('art & handirafts')"
        >
          Art & Handirafts
        </button>
        <button
          [class.active]="activeCategory === 'furniture'"
          (click)="filterProducts('furniture')"
        >
          Furniture
        </button>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="user-info">
      <h3>Welcome, {{ username.split(" ")[0] }}</h3>
      <p>{{ role }} | {{ email }}</p>
    </div>
  </div>
</header>

<main>
  <div class="heading">
    <h2>Recent Listings</h2>
    <div class="search-container">
      <svg
        class="feather feather-search search"
        fill="none"
        height="24"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" x2="16.65" y1="21" y2="16.65" />
      </svg>
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (input)="searchProducts()"
      />
    </div>
  </div>

  <div class="product-grid" *ngIf="products && products.length > 0">
    <div *ngFor="let product of products" class="product-card">
      <div class="image">
        <img [src]="product.image" alt="{{ product.name }}" />
      </div>
      <div class="details">
        <h3>{{ product.name }}</h3>
        <p>Starting Price: ₹{{ product.minimumprice }}</p>
      </div>
      <div class="buttons">
        <button class="details-button" (click)="navigateToDetails(product.id)">Details</button>
        <button class="participate" (click)="navigateToBidSession(product.id)">Participate</button>
      </div>
    </div>
  </div>

  <div *ngIf="products && products.length === 0">
    <p>No listings yet in this category.</p>
  </div>
</main>