<div class="sidebar">
  <div class="brand">
    <h1><a class="bidnow white-text" href="/">BidNow</a></h1>
    <p>Real-Time Auction Experience</p>
  </div>
  <ul class="nav-list">
    <li *ngFor="let item of navItems" class="nav-item">
      <a [routerLink]="item.route" class="nav-link" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">{{ item.name }}</a>
    </li>
    <li>
      <button (click)="logout()" class="nav-link logout-button">Logout</button>
    </li>
  </ul>
</div>