<div class="bidding-page">
  <div class="header">
    <h1>Bidding for: {{ listingDetails?.name }}</h1>
    <p>Category: {{ listingDetails?.category }}</p>
    <p>Minimum Price: {{ listingDetails?.minimumprice | currency : "INR" }}</p>
    <br />
    <p>
      Session Ends In: <br />
      <span class="timer">{{ timer }}</span>
    </p>
  </div>

  <div *ngIf="currentUser" class="session-body">
    <div>
      <app-detailpage></app-detailpage>
    </div>

    <div class="product-detail" *ngIf="isSessionOngoing()">
      <div class="place-bid">
        <h2>Place Your Bid</h2>
        <input
          type="number"
          [(ngModel)]="bidAmount"
          placeholder="Enter your bid amount"
        />
        <button (click)="submitBid()">Submit Bid</button>
      </div>
      <div *ngIf="currentBids.length > 0" class="bids">
        <h2>Current Bids</h2>
        <ul>
          <li *ngFor="let bid of currentBids">
            {{ bid.bidder }}: {{ bid.amount | currency : "INR" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>